<%-include ("partials/header.ejs") %>
<section class="fruits">

    <h1 class="product_head"> Fiction</h1> <br>
    <h2 class="product_subheading">Fiction books!</h2>
    
    <div class="container">
        <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
            
            <div class="card item_card" style="width: 21rem; height:28rem;">
                <img src="Images/Fiction/gatsby.jpg" class="card-img-top items_img" alt="Apple Image">
                <div class="card-body">
                <h5 class="card-title card_pricing">$110</h5>
                <h5 class="card-title fruits_card_title ">The Great Gatsby</h5> <br>
                <a href="/signin" class="order_now_btn btn btn-success px-3">Buy Now</a>
                <a href="/signin" class="buy_now_btn btn btn-outline-success px-3">Add to cart</a>

            </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card item_card" style="width: 21rem; height:28rem;">
                <img src="Images/Fiction/brave.jpg" class="card-img-top items_img" alt="Banana Image">
                <div class="card-body">
                <h5 class="card-title card_pricing">$180</h5>
                <h5 class="card-title  fruits_card_title ">Brave New World</h5> <br>
                <a href="/signin" class="order_now_btn btn btn-success px-3">Buy Now</a>
                <a href="/signin" class="buy_now_btn btn btn-outline-success px-3">Add to cart</a>

            </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card item_card" style="width: 21rem; height:28rem;">

            <img src="Images/Fiction/1984.jpg" class="card-img-top items_img" alt="Fig Image">
            <div class="card-body">
                <h5 class="card-title card_pricing">$100</h5>
                <h5 class="card-title  fruits_card_title ">Nineteen Eighty Four</h5> <br>
                <a href="/signin" class="order_now_btn btn btn-success px-3">Buy Now</a>
                <a href="/signin" class="buy_now_btn btn btn-outline-success px-3">Add to cart</a>

            </div>
            </div>
        </div>
    </div>
  </section>
<%- include ("partials/footer.ejs") %>